ajsonrpc==1.2.0
annotated-types==0.7.0
anyio==4.13.0
apparmor==4.1.7
argcomplete==3.6.3
asgiref==3.11.1
astroid==4.2.0
attrs==26.1.0
autocommand==2.2.2
beautifulsoup4==4.14.3
bottle==0.13.4
build==1.4.3
CacheControl==0.14.4
cachy==0.3.0
caelestia==1.0.4
cattrs==26.1.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cleo==2.1.0
click==8.3.3
click-default-group==1.2.4
colorama==0.4.6
ConfigArgParse==1.7.5
contourpy==1.3.3
crashtest==0.4.1
cryptography==48.0.0
cycler==0.12.1
datasketch==1.7.0
dbus-python==1.4.0
dill==0.4.1
distlib==0.4.0
distro==1.9.0
docstring-to-markdown==0.17
dulwich==1.1.0
editables==0.6
evdev==1.9.3
fastjsonschema==2.21.2
filelock==3.29.0
findpython==0.8.0
flit_core==4.0.0
fonttools==4.63.0
gi-docgen==2026.1
gps==3.27.5
graphifyy==0.8.13
h11==0.16.0
hatch==1.16.5
hatch-vcs==0.5.0
hatchling==1.29.0
html5lib==1.1
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
hyperlink==21.0.0
idna==3.16
ifaddr==0.2.0
importlib_metadata==9.0.0
iniconfig==2.3.0
installer==1.0.0
isort==9.0.0a3
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
jedi-language-server==0.46.0
jeepney==0.9.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-path==0.5.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.5.0
lark==1.3.1
lazy-object-proxy==1.12.0
legacy-cgi==2.6.4
LibAppArmor==4.1.7
libfdt==1.7.2
libtmux==0.58.0
libtorrent==2.0.12
libvirt-python==12.3.0
linkify-it-py==2.1.0
lit==22.1.6.dev0
louis==3.37.0
lsprotocol==2025.0.0
lxml==6.1.1
Mako==1.3.11.dev0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==4.1.1
materialyoucolor==3.0.2
matplotlib==3.10.9
mccabe==0.7.0
mdurl==0.1.2
meson==1.11.1
moddb==0.14.0
more-itertools==11.1.0
msgpack==1.1.2
nanobind==2.12.0
netsnmp-python==1.0a1
networkx==3.6.1
nftables==0.1
nlopt==2.10.1
numpy==2.4.6
openapi-pydantic==0.5.1
openapi-schema-validator==0.8.1
openapi-spec-validator==0.8.4
OpenTimelineIO==0.18.1
packaging==26.2
pandas==2.3.3
parso==0.8.6
pathable==0.6.0
pathspec==1.1.1
pbs-installer==2026.5.10
pexpect==4.9.0
pillow==12.2.0
pillow_heif==1.3.0
pipx==1.13.0
pkg_resources==81.0.0
pkginfo==1.12.1.2
platformdirs==4.10.0
platformio==6.1.19
pluggy==1.6.0
poetry==2.4.1
poetry-core==2.4.1
poetry-plugin-export==1.10.0
pooch==1.9.0
posting==2.9.2
psutil==7.2.2
ptyprocess==0.7.0
pyaaf2==1.7.1
pybind11==3.0.4
pycairo==1.29.0
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pyelftools==0.32
pygame==2.6.1
pygls==2.1.1
Pygments==2.20.0
PyGObject==3.56.3
pylint==4.0.5
pylint-venv==3.0.4
PyOpenGL==3.1.10
pyparsing==3.3.2
pyperclip==1.11.0
pyproject_hooks==1.2.0
pyserial==3.5
PySide6==6.11.1
pytest==9.0.3
python-dateutil==2.9.0
python-discovery==1.4.0
python-dotenv==1.2.2
python-magic==0.4.27
pytz==2026.1
pywal==3.3.0
pywalfox==2.7.4
PyYAML==6.0.3
RapidFuzz==3.14.5
referencing==0.37.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3339_validator==0.1.4
rich==15.0.0
rofimoji==6.7.0
rpds-py==2026.5.1
scipy==1.17.1
SecretStorage==3.5.0
semantic_version==2.10.0
setuptools==82.0.1
setuptools-scm==10.0.5
shellingham==1.5.4
shiboken6==6.11.1
shiboken6-generator==6.11.1
six==1.17.0
smartypants==2.0.2
smbus==1.1
sniffio==1.3.1
soupsieve==2.8.4
starlette==1.1.0
tabulate==0.10.0
TBB @ file:///build/onetbb/src/build/python/python_build
textual==8.2.7
textual-autocomplete==4.0.6
tmuxp==1.70.0
tomli_w==1.2.0
tomlkit==0.15.0
tqdm==4.67.3
trash-cli==0.24.5.26
tree-sitter==0.25.2
tree-sitter-bash==0.21.0
tree-sitter-c==0.24.1
tree-sitter-c-sharp==0.23.5
tree-sitter-cpp==0.23.4
tree-sitter-dm==0.25.1
tree-sitter-elixir==0.3.5
tree-sitter-fortran==0.6.0
tree-sitter-go==0.25.0
tree-sitter-groovy==0.1.2
tree-sitter-java==0.23.5
tree-sitter-javascript==0.25.0
tree-sitter-json==0.24.8
tree-sitter-julia==0.25.0
tree-sitter-kotlin==1.1.0
tree-sitter-lua==0.5.0
tree-sitter-objc==3.0.2
tree-sitter-php==0.24.2
tree-sitter-powershell==0.26.4
tree-sitter-python==0.25.0
tree-sitter-ruby==0.23.1
tree-sitter-rust==0.24.2
tree-sitter-scala==0.26.0
tree-sitter-swift==0.7.2
tree-sitter-typescript==0.23.2
tree-sitter-verilog==1.0.3
tree-sitter-zig==1.1.2
trove-classifiers==2026.5.20.19
typing-inspection==0.4.2
typing_extensions==4.15.0
typogrify==2.1.0
uc-micro-py==2.0.0
ufw==0.36.2
urllib3==2.7.0
userpath==1.9.2
uv==0.11.17
uvicorn==0.38.0
uvloop==0.22.1
VapourSynth==75
vcs-versioning==1.1.1
virtualenv==21.4.1
watchfiles==1.1.1
webencodings==0.5.1
websockets==16.0
wheel==0.47.0
wsproto==1.3.2
xdg-base-dirs==6.0.2
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
zeroconf==0.149.1
zipp==3.21.0
zstandard==0.25.0
